# Linear regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [4]:
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [5]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [6]:
df = df[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price']]
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [7]:
df.rename(columns={
    'Avg. Area Income': 'income',
    'Avg. Area House Age': 'house_age',
    'Avg. Area Number of Rooms': 'no_of_rooms',
    'Avg. Area Number of Bedrooms': 'no_of_bedrooms',
    'Area Population': 'population',
    'Price': 'price'
}, inplace=True)
df

,income,house_age,no_of_rooms,no_of_bedrooms,population,price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [8]:
import seaborn as sns

In [9]:
df.columns

Index(['income', 'house_age', 'no_of_rooms', 'no_of_bedrooms', 'population',
       'price'],
      dtype='object')

In [10]:
X = df[['income', 'house_age', 'no_of_rooms', 'no_of_bedrooms', 'population']]
Y = df[['price']]

In [11]:
X

            income  house_age  no_of_rooms  no_of_bedrooms    population
0     79545.458574   5.682861     7.009188            4.09  23086.800503
1     79248.642455   6.002900     6.730821            3.09  40173.072174
2     61287.067179   5.865890     8.512727            5.13  36882.159400
3     63345.240046   7.188236     5.586729            3.26  34310.242831
4     59982.197226   5.040555     7.839388            4.23  26354.109472
...            ...        ...          ...             ...           ...
4995  60567.944140   7.830362     6.137356            3.46  22837.361035
4996  78491.275435   6.999135     6.576763            4.02  25616.115489
4997  63390.686886   7.250591     4.805081            2.13  33266.145490
4998  68001.331235   5.534388     7.130144            5.44  42625.620156
4999  65510.581804   5.992305     6.792336            4.07  46501.283803

[5000 rows x 5 columns]

In [12]:
Y

             price
0     1.059034e+06
1     1.505891e+06
2     1.058988e+06
3     1.260617e+06
4     6.309435e+05
...            ...
4995  1.060194e+06
4996  1.482618e+06
4997  1.030730e+06
4998  1.198657e+06
4999  1.298950e+06

[5000 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, train_size=0.8, random_state=20)

In [15]:
x_train

            income  house_age  no_of_rooms  no_of_bedrooms    population
3702  64332.228793   5.636972     7.892393            4.14  36649.852715
4393  74455.442028   6.718328     6.986395            4.50  62449.973848
226   44731.109800   4.188658     8.942797            5.12  39633.473041
913   60690.718649   7.596008     7.021787            3.42  35528.503913
542   80972.996468   5.470851     6.913134            2.22  48036.610121
...            ...        ...          ...             ...           ...
1607  64296.504179   7.125630     8.084430            5.40  37562.548061
3915  88733.448030   4.740032     7.914387            4.00  32505.916374
1428  58832.504040   5.819522     7.559579            5.13  30200.106509
4367  70219.690370   5.707247     7.609499            5.01  28553.815483
2522  66623.692366   5.923666     6.942143            2.03  47995.101961

[4000 rows x 5 columns]

In [16]:
y_train

             price
3702  1.232466e+06
4393  1.867051e+06
226   6.019730e+05
913   1.274054e+06
542   1.556988e+06
...            ...
1607  1.484654e+06
3915  1.397944e+06
1428  9.317876e+05
4367  1.126778e+06
2522  1.302029e+06

[4000 rows x 1 columns]

In [17]:
x_test

            income  house_age  no_of_rooms  no_of_bedrooms    population
71    83953.104839   7.385135     6.898847            3.08  37283.357646
1561  76896.787031   4.349592     8.608457            4.40  52733.987984
2439  61611.751784   5.994479     7.009129            3.34  18947.558346
1294  59160.093352   6.265218     7.046225            3.17  23252.906213
1946  70125.765843   5.051254     4.765903            4.34  22063.210619
...            ...        ...          ...             ...           ...
954   71893.429343   5.826870     7.103996            3.39  40364.193145
1715  88305.920821   6.772239     6.832860            3.38  32190.417724
919   66823.432900   7.523331     6.142731            4.29  30852.291107
2171  67548.168102   5.760580     8.194381            3.40  50213.738556
1982  59867.842781   4.266360     7.866834            4.01  47726.254170

[1000 rows x 5 columns]

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [20]:
prediction = model.predict(x_test)
prediction

array([[1801179.38791899],
       [1592673.95285062],
       [ 821481.02356973],
       [ 883381.98888646],
       [ 626739.50396859],
       [ 624866.3427275 ],
       [1119979.41123119],
       [ 863557.87384373],
       [1075987.48169495],
       [ 950373.2862565 ],
       [1152214.85625787],
       [1075488.11177893],
       [ 609986.70570729],
       [ 813166.73992899],
       [1075281.26775522],
       [1620786.13808469],
       [ 907938.32626777],
       [ 983838.69889747],
       [1084114.21896891],
       [ 981200.42094647],
       [1611217.15188703],
       [1281280.41396768],
       [1330782.97398534],
       [ 833023.11558895],
       [1958627.72135434],
       [1430119.18686881],
       [1091711.78779499],
       [ 962131.78599987],
       [1914561.26649381],
       [1143313.36240355],
       [1821517.32542145],
       [1138024.75399714],
       [1444460.89319012],
       [ 370862.33131293],
       [1407375.07373155],
       [1092204.42796692],
       [1041441.59339138],
       [1107358.5542627 ],
       [1319619.6523335 ],
       [1073915.49265665],
       [1464734.96071128],
       [1771325.84421186],
       [1160686.00126109],
       [2018662.90726415],
       [1692665.32051506],
       [1232426.84138083],
       [1589738.84863622],
       [1849271.88706022],
       [1333004.23917683],
       [ 954589.0796451 ],
       [1139792.07642353],
       [1609658.25310953],
       [ 935073.29920617],
       [1024887.37789282],
       [ 666018.21329898],
       [1097343.04005067],
       [1785030.14035157],
       [ 993301.993082  ],
       [1387541.35603895],
       [1826500.19865458],
       [1341433.30994514],
       [1233591.5305527 ],
       [1120661.44648176],
       [1021771.17266032],
       [1066050.62876298],
       [1542692.9113974 ],
       [1166070.26341133],
       [1503469.47502386],
       [1215174.85585576],
       [1631033.3190947 ],
       [1412684.9000497 ],
       [1258116.83247822],
       [ 600282.80023972],
       [1435682.95658348],
       [1229618.98535359],
       [1556067.63491575],
       [1375141.15502838],
       [1359877.74059463],
       [ 557693.86053656],
       [1348858.81968231],
       [2122036.09060854],
       [1027917.83321677],
       [ 861689.06564969],
       [1563936.67610018],
       [ 966596.4761206 ],
       [ 703698.01518055],
       [1295004.58315988],
       [1186296.33080045],
       [ 623051.98411402],
       [1688333.31757913],
       [1152301.07397235],
       [1435644.20449637],
       [ 966839.04311632],
       [1073484.758501  ],
       [1031312.56770386],
       [ 622618.11513905],
       [ 669016.37287674],
       [ 846124.91044565],
       [1115261.87208577],
       [1605800.09308936],
       [1439308.87844566],
       [1497049.99991594],
       [1328124.45965517],
       [ 632032.0360869 ],
       [ 960114.13368966],
       [1579073.77327295],
       [1923128.51135138],
       [ 506620.14090252],
       [1465092.39025832],
       [2208603.84503235],
       [1074452.17948365],
       [1511234.46391966],
       [1541672.01081643],
       [1095521.26545409],
       [1515651.53246452],
       [ 986606.92344155],
       [ 980883.81728133],
       [1308474.74246569],
       [2070908.91691872],
       [1537447.40854487],
       [1392325.12304913],
       [1496099.65059559],
       [1469369.39196634],
       [1240688.21553381],
       [ 724143.8950112 ],
       [1017786.43173538],
       [1406468.93432149],
       [1214351.32915643],
       [1101104.19234152],
       [ 789034.47626352],
       [ 816589.53004808],
       [1020757.52860835],
       [1393250.35543325],
       [1273908.75270593],
       [ 962644.04358187],
       [1142947.28113537],
       [1052021.53891962],
       [ 835681.62969803],
       [1215757.4513948 ],
       [1323111.20534186],
       [1546270.11804407],
       [1393921.49745414],
       [1104869.35329601],
       [1387685.37791513],
       [1562353.54949482],
       [1510055.97701388],
       [1504991.72556277],
       [ 741147.08635297],
       [ 966410.92751201],
       [1321889.4390479 ],
       [2180996.38996222],
       [ 802939.46566199],
       [ 842870.80124725],
       [1313855.13737499],
       [1205854.72753468],
       [ 947148.35496109],
       [1078836.95080007],
       [1510346.24633016],
       [ 914633.67532165],
       [1404020.88763406],
       [1553173.90778246],
       [1266363.42578884],
       [ 736989.51945511],
       [ 869665.6691448 ],
       [ 482690.11407083],
       [1291889.59120521],
       [1858317.6291019 ],
       [ 972265.09818568],
       [1800328.68473776],
       [1529843.58944852],
       [1174072.5805488 ],
       [1236003.84245498],
       [1823020.74380443],
       [1061996.80284295],
       [ 888376.17494242],
       [1313419.01804877],
       [1117905.29799609],
       [ 972543.07225544],
       [1315621.82010958],
       [1498956.90611142],
       [1049074.46901909],
       [1698244.47417415],
       [1045108.58708892],
       [1095209.68517292],
       [1304357.67593697],
       [ 911338.51189144],
       [1183284.0054668 ],
       [1114917.31252443],
       [1154448.42058478],
       [1033013.51987489],
       [1485625.96273706],
       [ 899595.72374379],
       [1279014.15241656],
       [1345069.6889751 ],
       [1741251.83427301],
       [1247635.7914191 ],
       [1287132.01086832],
       [1050661.91458208],
       [1340866.78794151],
       [1677134.25876931],
       [1189382.82577805],
       [ 995476.47465304],
       [1323659.30695553],
       [1423081.00742572],
       [1115174.99807821],
       [1485007.39204693],
       [1031435.82273462],
       [1220962.22996805],
       [ 995086.17062326],
       [1120864.39721874],
       [ 642192.3827971 ],
       [ 885684.94241381],
       [ 791251.10608556],
       [1063566.40333289],
       [ 637395.04844173],
       [1160824.06666396],
       [1438375.70035307],
       [ 784149.05027684],
       [1986148.85465523],
       [1032295.71689242],
       [1030169.69133485],
       [1760336.68284795],
       [1309351.10546855],
       [1171587.49280578],
       [ 966822.66212339],
       [1478447.98043613],
       [1503002.03104401],
       [ 919245.98365986],
       [1021645.43230067],
       [1648097.8315432 ],
       [ 694526.48563711],
       [ 808995.0662015 ],
       [1326364.90432783],
       [ 458148.5821798 ],
       [1176484.55145132],
       [ 971379.54272093],
       [1269825.49695245],
       [ 915113.16699187],
       [1217832.30598103],
       [ 689701.4570931 ],
       [ 783242.03458519],
       [ 660437.29904159],
       [1160970.4885542 ],
       [1132029.47918881],
       [1107896.46572885],
       [1004373.41284827],
       [1355567.09811733],
       [ 970815.88964123],
       [1339822.75540425],
       [ 858121.39894651],
       [1625113.85903695],
       [1328271.95925902],
       [1108175.31528192],
       [1226784.22727326],
       [1422856.25025988],
       [2030146.96268138],
       [ 751062.09228503],
       [ 662853.55813983],
       [1263489.68513528],
       [1484338.16850056],
       [1762964.03010824],
       [1305062.84957153],
       [1579317.41969397],
       [1346404.94020616],
       [ 996345.50723067],
       [1180833.61763415],
       [1117854.11832679],
       [1234584.61001184],
       [1384489.22106304],
       [1317875.1931937 ],
       [ 997571.39793158],
       [1563864.39864466],
       [1317652.63389881],
       [1392448.17705781],
       [1046944.82307559],
       [1209685.86513225],
       [1491597.01287891],
       [1409714.82093965],
       [ 768916.49943352],
       [1185946.44182562],
       [ 701143.88953584],
       [ 934996.58681769],
       [1540792.22831222],
       [ 484017.53986375],
       [1624766.48532572],
       [1082349.26418107],
       [ 608596.21640093],
       [ 842589.93242389],
       [1569015.31293018],
       [2108496.19604025],
       [1052009.68285136],
       [1403815.47505577],
       [1380711.54314956],
       [1059392.21527247],
       [1211478.14020937],
       [ 969741.44978582],
       [1098365.3913729 ],
       [ 345188.05737031],
       [1551495.59319508],
       [1717732.14490334],
       [1106381.07567882],
       [1472694.72353658],
       [1003186.07980873],
       [ 482558.93022621],
       [ 775582.11164915],
       [ 788542.62231836],
       [ 971573.45360501],
       [1002638.82809019],
       [1668298.02821308],
       [ 796413.71652419],
       [1282610.10159612],
       [1121766.51017943],
       [ 248609.39508427],
       [1331358.93524364],
       [1353865.24891232],
       [ 458767.75614952],
       [ 766161.0574931 ],
       [ 660069.68944147],
       [1647433.8771561 ],
       [ 859926.16994847],
       [1469058.74602368],
       [ 953328.06591267],
       [1025371.81621845],
       [ 938098.84550033],
       [ 820526.03911291],
       [1553150.93716045],
       [ 574589.23064531],
       [1219343.37750456],
       [1161155.53085334],
       [1479234.29724101],
       [1121938.01633294],
       [1338290.47162013],
       [1319721.54968178],
       [1564369.60877708],
       [1588813.00637135],
       [1053742.46566569],
       [1438140.6968415 ],
       [1069819.50841577],
       [1326829.19395893],
       [1660622.58987527],
       [ 782964.86206508],
       [ 831588.68225975],
       [1584107.00255482],
       [1035915.85570492],
       [ 727947.60446099],
       [1290391.02694361],
       [1323005.08561262],
       [1105200.85344167],
       [1866749.69484198],
       [1465490.02880671],
       [1118257.86990513],
       [1203557.02409042],
       [1203195.63956196],
       [1423600.32742985],
       [1158468.40930109],
       [ 848836.06097084],
       [1350353.14114079],
       [1858479.84520012],
       [ 777501.43299629],
       [ 918855.03075865],
       [1115331.38725125],
       [ 990008.40364068],
       [1550439.88496391],
       [1374071.37615232],
       [1425736.00518234],
       [1132642.036191  ],
       [1358674.45190846],
       [1455213.70813846],
       [1842916.17989188],
       [1086835.98522692],
       [1125929.40094686],
       [1136610.23280337],
       [1412371.77438449],
       [1293033.08031866],
       [1376867.16803067],
       [1130596.3263818 ],
       [1188194.309037  ],
       [1895430.04352082],
       [1421762.00820427],
       [1155249.6992562 ],
       [ 626656.01652621],
       [1184324.77473523],
       [1050062.97016629],
       [ 437428.29844489],
       [1737074.6695506 ],
       [ 825961.489691  ],
       [1337351.0877511 ],
       [1563364.85432469],
       [1825349.50125841],
       [1391223.08018083],
       [1325848.95667881],
       [1340131.46310704],
       [1333779.42892452],
       [1425898.17381206],
       [ 846036.50935252],
       [1630725.80629885],
       [1371303.39030332],
       [1082894.21326575],
       [1217369.94212617],
       [1483622.82704955],
       [1151903.99484717],
       [ 925601.57286778],
       [1216946.40522616],
       [1545499.51973572],
       [1112206.01999107],
       [ 970240.79731592],
       [1485889.79889395],
       [1592413.60928515],
       [1128016.48050456],
       [ 998886.46914835],
       [1478016.1810527 ],
       [1150106.92492397],
       [1116971.72433838],
       [ 893768.40432915],
       [1317078.36569544],
       [1170576.62603441],
       [1232316.96375223],
       [1313833.34176941],
       [1374856.78196912],
       [ 946194.46296036],
       [1412777.69560563],
       [ 950788.77770563],
       [ 941473.87416703],
       [1127085.80363424],
       [1539724.24803436],
       [1179140.18271533],
       [1570403.67997304],
       [1601611.75899193],
       [1133059.15013685],
       [ 924715.25644102],
       [1311520.02473462],
       [1526351.06157742],
       [1071681.88698428],
       [ 636965.30077333],
       [1338529.35654123],
       [1410397.65810202],
       [1407506.52205362],
       [1298189.08141525],
       [1517678.04303867],
       [1512268.48648706],
       [1234662.30532585],
       [1342821.32423871],
       [ 242921.58582894],
       [1126610.36917898],
       [1072260.8443251 ],
       [1412980.13575996],
       [1435971.03598962],
       [1078842.42996337],
       [1106792.06163051],
       [1471797.20198092],
       [1322809.42433758],
       [1323802.999821  ],
       [1278240.44932905],
       [1514318.88598178],
       [ 887213.62687883],
       [1260711.02905   ],
       [ 605189.00001539],
       [ 782747.7597158 ],
       [ 590612.85318917],
       [1393700.58565579],
       [ 542246.61715635],
       [1293430.34370987],
       [1493379.53602935],
       [ 504834.63231519],
       [1377078.76299926],
       [1220890.92392304],
       [1896876.54730313],
       [1371768.88276752],
       [1764668.73600607],
       [1385971.67529848],
       [1472586.09601428],
       [1392529.79589108],
       [1041272.25403832],
       [ 685525.52705791],
       [1294018.08358843],
       [1060960.09805866],
       [1461148.06685922],
       [1448407.24249499],
       [1407500.24264592],
       [1547072.80758145],
       [1021001.06447039],
       [1123079.1165544 ],
       [1649594.34980305],
       [1214160.12469646],
       [1297706.46788289],
       [1276701.33723192],
       [ 827817.46190033],
       [1465057.60651848],
       [ 459547.03136844],
       [1441616.93407996],
       [2022433.74807386],
       [1320804.88035024],
       [1280626.58266377],
       [1446585.30743725],
       [ 593201.81399365],
       [ 822146.11918958],
       [ 900768.06007816],
       [1145852.76978656],
       [1302756.11651117],
       [2125938.40826287],
       [1175531.22868726],
       [1131901.44569822],
       [1361997.74077605],
       [1015085.89628004],
       [ 750423.1498064 ],
       [1100375.41442921],
       [1447008.03795351],
       [2248756.571912  ],
       [ 840109.07706763],
       [1372387.56285561],
       [ 688109.83015714],
       [1075378.90639984],
       [1306050.58582444],
       [1037688.40846378],
       [ 936364.09472261],
       [1528208.88411003],
       [ 596570.48304354],
       [ 913367.08260542],
       [1042012.37243951],
       [1225945.46099686],
       [1530404.52186801],
       [2121735.4674486 ],
       [1125249.82974628],
       [1538166.91057633],
       [1058891.39773406],
       [1045504.82330993],
       [1142428.95630691],
       [1801303.14811008],
       [1158212.26261059],
       [1152167.81372407],
       [1401462.49232944],
       [1117705.37847991],
       [1715098.17739713],
       [1232740.98511496],
       [1075638.95798315],
       [1265931.67836611],
       [1180308.6322608 ],
       [1288431.55998982],
       [ 497249.24084651],
       [1006306.09597097],
       [1054415.15430117],
       [1539804.17333093],
       [1712877.5885224 ],
       [1465639.35368448],
       [1683954.75254834],
       [1090142.99134281],
       [1050540.7782578 ],
       [1265557.59759588],
       [ 647326.34397414],
       [1302929.74374771],
       [1058550.89917241],
       [1879451.66759695],
       [ 711831.34653456],
       [1215316.80365839],
       [ 908850.99767727],
       [ 956611.85710973],
       [ 963651.86963635],
       [1353572.72081582],
       [1080507.49412546],
       [1415626.74387742],
       [1601226.928913  ],
       [1280047.08122535],
       [1357871.54408646],
       [1224958.07281868],
       [1326960.88684951],
       [1029254.3647804 ],
       [1290735.4969958 ],
       [ 840622.55615899],
       [1421500.54546649],
       [1340923.87074677],
       [1333810.67709396],
       [1387622.94969034],
       [1182549.03431148],
       [1311493.55987703],
       [1303223.51488967],
       [1228339.0350878 ],
       [1134873.7317104 ],
       [ 839109.92111823],
       [1413747.62621067],
       [ 951280.92924468],
       [1156515.11368442],
       [ 976319.81635554],
       [1198682.6514127 ],
       [ 417835.75195055],
       [1414085.85680021],
       [1762054.38008833],
       [1352042.93600558],
       [1356195.40041093],
       [1894038.67760979],
       [ 574089.6503702 ],
       [1189152.77324285],
       [1218904.42845775],
       [ 853865.19962937],
       [1124837.43065376],
       [1089035.3772003 ],
       [1214848.57266708],
       [1228324.26680236],
       [1378324.216751  ],
       [1180224.16032065],
       [1742029.73999185],
       [1486509.41170671],
       [1474025.66471552],
       [1337462.82307947],
       [1387817.12333598],
       [1070700.21106038],
       [ 942968.76002702],
       [ 991965.33272712],
       [1288917.60132303],
       [ 912866.45915692],
       [1895578.29381203],
       [ 678987.77200076],
       [ 756667.62749226],
       [1539961.46168407],
       [1531097.20451118],
       [ 748930.06258257],
       [1649095.98392144],
       [1042246.9806882 ],
       [ 916997.42871164],
       [1194950.24118504],
       [1045601.5705273 ],
       [ 932772.71470471],
       [1553468.92967583],
       [1586201.27141356],
       [ 988368.54630575],
       [1362518.5013884 ],
       [ 986186.13575893],
       [1247704.78591681],
       [1576995.60911607],
       [ 803676.31568703],
       [1601854.34033241],
       [1343331.66705377],
       [ 921217.08395034],
       [ 736768.01216829],
       [1150277.5495329 ],
       [1579582.75694471],
       [1547983.98526891],
       [1146084.62118176],
       [2024017.07840178],
       [ 855717.25076347],
       [ 668276.00452565],
       [ 990818.98877184],
       [1333529.74276489],
       [ 918135.77228897],
       [1298099.85632951],
       [1281594.38970761],
       [1045547.88909429],
       [1409297.26371673],
       [ 974123.89769183],
       [1130215.95731898],
       [ 758598.22021916],
       [1171716.33161875],
       [ 700477.70373076],
       [1364241.25523508],
       [2075876.98638975],
       [ 490499.47891433],
       [1007489.91519061],
       [1112241.31348453],
       [1188379.3696201 ],
       [1210553.71783774],
       [ 679305.23829433],
       [1128437.39096007],
       [1014353.90276057],
       [1111128.23631852],
       [ 523708.92046779],
       [ 422871.25269037],
       [1270180.15427621],
       [1125198.30812648],
       [1626369.47926733],
       [1339992.00781633],
       [1469915.21118346],
       [ 784280.74138546],
       [1364326.50897394],
       [ 988165.79228832],
       [ 642290.97602446],
       [ 948164.2735875 ],
       [1358684.45922159],
       [1033652.73049378],
       [1252905.47230887],
       [1663415.42283345],
       [1758227.0960601 ],
       [1759395.91345572],
       [1556471.15248593],
       [1205590.44073521],
       [1164887.19832425],
       [1207555.58781392],
       [1030059.2716955 ],
       [1308776.43491094],
       [1482044.63006152],
       [1405162.34417424],
       [1545573.39501266],
       [1391634.68579196],
       [1423302.85948558],
       [ 791927.78690342],
       [1054430.91268761],
       [1241064.09391633],
       [1126966.01000016],
       [1512452.19121254],
       [ 776887.7877546 ],
       [1616549.8432065 ],
       [1538313.60664159],
       [1074307.6635297 ],
       [ 881539.33828738],
       [ 892550.61971523],
       [ 727242.6874974 ],
       [1197473.63427846],
       [1123799.57639825],
       [1206558.51720852],
       [2007631.67952785],
       [1598105.29822793],
       [ 699851.66335452],
       [ 798768.21136715],
       [ 586590.22217245],
       [1119250.270256  ],
       [ 924072.60264936],
       [1237951.40430253],
       [1503130.60556444],
       [ 927366.39608318],
       [ 953838.58439083],
       [ 960142.25303799],
       [1434475.60485117],
       [1530673.4617944 ],
       [1475148.49349113],
       [1144796.95379685],
       [ 887733.54623458],
       [1184933.79413761],
       [1241465.89085113],
       [1324870.88792481],
       [1066917.33452964],
       [1240325.58562093],
       [1496389.35520021],
       [1872205.88792044],
       [ 920042.82375676],
       [ 945469.85565772],
       [2120584.37738301],
       [1392211.13044474],
       [ 811470.81861124],
       [1388798.04877933],
       [1119143.3076471 ],
       [ 988609.71597658],
       [1651180.3800602 ],

In [21]:
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test, prediction)

0.9108527429137736

In [23]:
x_train.columns

Index(['income', 'house_age', 'no_of_rooms', 'no_of_bedrooms', 'population'], dtype='object')

In [24]:
income = float(input("Please enter average income...."))
house_age = float(input("Please enter average house age...."))
no_of_rooms = float(input("Please enter average number of rooms...."))
no_of_bedrooms = float(input("Please enter average number of bedrooms...."))
population = float(input("Please enter average population...."))
test_data = {
    'income': income,
    'house_age': house_age,
    'no_of_rooms': no_of_rooms,
    'no_of_bedrooms': no_of_bedrooms,
    'population': population,
}

Please enter average income....1
Please enter average house age....1
Please enter average number of rooms....1
Please enter average number of bedrooms....1
Please enter average population....1

In [25]:
test_data

{'income': 1.0,
 'house_age': 1.0,
 'no_of_rooms': 1.0,
 'no_of_bedrooms': 1.0,
 'population': 1.0}

In [26]:
df = pd.DataFrame(test_data, index=[0])

In [27]:
model.predict(df)[0][0]

-2360779.494194918

# Covid data

In [28]:
!pip install pickle

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement pickle
ERROR: No matching distribution found for pickle

In [29]:
import pickle as pk

In [31]:
fn = "Finalized_model.sav"
pk.dump(model,open(fn,'wb'))